{{> messages}}
<div class="row">
    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                {{#if user.avatarUrl}}
                    <img src="{{user.avatarUrl}}" alt="{{user.name}}-avatar" class="img-thumbnail rounded-circle avatar">
                {{else}}
                    <img src="/user-plug.png" alt="{{user.name}}-avatar" class="img-thumbnail rounded-circle avatar">
                {{/if}}
                <h5 class="card-title mt-3">{{user.name}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{user.status}}</h6>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <form action="/profile" method="POST" class="mb-2">
                        <label for="avatarUrl" class="form-label">Змінити світлину профілью</label>
                        <input class="form-control form-control-sm" name="avatarUrl" id="avatarUrl" type="file">
                        <input type="hidden" name="_csrf" value="{{csrf}}">
                        <input type="hidden" name="">
                    </form>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <ul class="nav nav-pills" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" data-bs-toggle="tab" href="#feed">Ваші дописи</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" data-bs-toggle="tab" href="#projects">Ваші проекти</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" data-bs-toggle="tab" href="#info">Інформація</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="tab-content">
            <div class="tab-pane active" id="feed">
                <div class="d-grid">
                    <button
                        class="btn btn-block btn-danger"
                        data-bs-toggle="modal"
                        data-bs-target="#postModal"
                    >Новий допис</button>
                </div>
                {{#if posts.length}}
                    {{#each posts}}
                        <div class="card mt-3">
                            <div class="card-header d-flex justify-content-between align-items-center">
                                <div class="d-flex align-items-center">
                                    {{#if userId.avatarUrl}}
                                        <img src="{{userId.avatarUrl}}" width="50px" alt="{{userId.name}} avatar">
                                    {{else}}
                                        <img src="/user-plug.png" width="50px" alt="{{userId.name}} avatar">
                                    {{/if}}
                                    <h6 class="d-block ms-2 mb-0">
                                        {{userId.name}} <br>
                                        <small class="mb-2 text-muted date">{{date}}</small>
                                    </h6>
                                </div>
                                <div class="dropdown">
                                    <a data-bs-toggle="dropdown" class="options">
                                        <span class="material-icons">more_vert</span>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-end">
                                        <li>
                                            <a class="dropdown-item" href="#">Редагувати</a>
                                        </li>
                                        <li>
                                            <form action="/posts/remove" method="POST">
                                                <input type="hidden" name="id" value="{{_id}}">
                                                <input type="hidden" name="_csrf" value="{{@root.csrf}}">
                                                <button class="dropdown-item" type="sbumit">Видалити</button>
                                            </form>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">{{title}}</h5>
                                <p class="card-text post-text">{{text}}</p>
                                <a href="/posts/{{_id}}" class="btn btn-danger btn-sm">Переглянути</a>
                                {{#if tags.length}}
                                    <h5 class="border-top mt-3 pt-3">
                                        {{#each tags}}
                                            <span class="badge rounded-pill bg-secondary">{{this}}</span>
                                        {{/each}}
                                    </h5>
                                {{/if}}
                            </div>
                            <div class="card-footer">
                                <div class="text-muted d-flex align-items-center">
                                    <span class="material-icons">category</span>
                                    <div class="ms-1">Категорія: {{category}}</div>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                {{else}}
                    <p class="text-center fs-3 mt-3">Дописів поки що немає...</p>
                {{/if}}
            </div>
            <div class="tab-pane" id="projects">Projects</div>
            <div class="tab-pane" id="info">Info</div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title mb-0">Портфоліо</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
        </div>
    </div>
</div>
{{#> modal}}
    {{> post-form}}
{{/modal}}